<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="defaultConn"
			 connectionString="Server =LAPTOP-L7MLA1QI\SQLEXPRESS; Database=dotnetdemo ; Integrated Security = True"
			  providerName="System.Data.SqlClient"/>-->

		<add name="studentConn"
			  connectionString="Server =LAPTOP-L7MLA1QI\SQLEXPRESS; Database=studentdemo ; Integrated Security = True"
			  providerName="System.Data.SqlClient"/>
			 <!--/>-->
	</connectionStrings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>